body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
#chartCanvas {
    border: 1px solid black;
}

.button-start-pause button {
    background-color: gray;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    padding: 15px 32px;
    font-size: 15px;
    cursor: pointer;
}

.button-start-pause button:hover{
    background-color: lightgray;
}

/* slider for speed */
.controls {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    gap: 20px;
}

.container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.slider {
    display: flex;
    align-items: center;
    gap: 8px;
}