body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: pink;
}

#gameContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
}

.gameContainer button{
    margin: 5px;
}

.cell {
    
    width: 50px;
    height: 50px;
    border: 1px solid #777;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 40px;
    padding: 4px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin: 2px;
}

.green {
    background-color: lightgreen;
}

.yellow {
    background-color: lightyellow;
}

.red {
    background-color: red;
}